/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400&family=Space+Mono:wght@400;700&display=swap');

:root {
  --yellow: #fcb72b;
  --dark-navy: #495567;
  --dim-grey: #939caa;
  --light-grey: #e5ecf4;
  --snow: #f2f5f9;
  --light-yellow: #fff4df;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


h1,
h2,
h3,
h4 {
  font-family: 'Space Mono', monospace;
  color: var(--dark-navy);
}

h1 {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2.5px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -2.14px;
}

h3 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.79px;
}

h4 {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07px;
}

p {
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  color: var(--dim-grey);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dim-grey);
}

section {
  padding-top: 160px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding-inline: 20px;
}

.btn {
  display: inline-block;
  font-family: 'Space Mono', sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  background-color: var(--yellow);
  color: #fff;
  border: 1px solid transparent;
  padding: 10px 40px;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  cursor: pointer;
}

.btn:hover {
  border-color: var(--yellow);
  background-color: transparent;
  color: var(--yellow);
}

.btn-outline {
  background-color: transparent;
  border-color: var(--yellow);
  color: var(--yellow);
}

.btn-outline:hover {
  background-color: var(--yellow);
  color: #fff;
}

.link {
  color: #929baa;
  display: inline-block;
  font-family: 'Space Mono', monospace;
  font-size: 15px;
  padding: 5px;
 -webkit-transition: 0.2s ease-out;
 transition: 0.2s ease-out;
  -o-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.link:hover,
.link:active,
.link:focus {
  color: #fcb72c;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/* Navmenu */



.nav {
  display: box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  box-pack: justify;
      -ms-flex-pack: justify;
          -webkit-box-pack: justify;
          justify-content: space-between;
 box-align: center;
      -ms-flex-align: center;
          -webkit-box-align: center;
         align-items: center;
  background: #fff;
  padding-block: 45px;
  position: relative;
}

.nav__logo {
  background: url('../assets/logo.svg') no-repeat center/contain;
  display: inline-block;
  width: 75px;
  height: 20px;
  margin: 0 auto;
}

.nav__links--active {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.nav__hamburger {
  background: url('../assets/icons/hamburger.svg') no-repeat center/cover;
  width: 20px;
  height: 16px;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.nav__hamburger:focus {
  outline: 3px dashed var(--yellow);
}

.nav__hamburger--active {
  background: url('../assets/icons/close.svg') no-repeat center/cover;
}

.nav__links {
  display: none;
}

.nav__btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__hamburger {
    display: none;
  }

  .nav__logo {
    width: 100px;
    height: 30px;
    margin: 0;
  }

  .nav__links {
    display: box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
 box-orient: horizontal;
    box-direction: normal;
        -ms-flex-direction: row;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
         flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 4rem;
  }

  .nav__links li:not(:last-child) {
    margin-right: 20px;
  }

  .nav__btn {
    display: inline-block;
    margin-left: auto;
  }

  .nav__links--mobile {
    display: none;
  }
}


/* Hero */

.hero {
  background: url('../assets/images/home-hero-desktop.jpg') no-repeat center/cover;
  padding-block: 150px;
  position: relative;
}

.hero::after {
  content: url('../assets/patterns/white-circles.svg');
  position: absolute;
  right: -45px;
  bottom: 164px;
}

.header--home__content {
  text-align: left;
  max-width: 500px;
  margin-left: 0;
  position: relative;
}

.header--home__content::before {
  content: url('../assets/patterns/line.svg');
  position: absolute;
  right: 114%;
  bottom: 135px;
}

.header--home__content::after {
  content: url('../assets/patterns/right-arrow.svg');
  position: absolute;
  right: -100%;
  bottom: 0;
}

.header--home__content h1 {
  color: #fff;
  margin-bottom: 40px;
}

.header--home__content p {
  color: #fff;
  margin-left: 57px;
  margin-bottom: 40px;
}

.header--home__content .header--home__btn {
  margin-left: 57px;
}

@media screen and (max-width: 1024px) {
  .hero {
    background: url('../assets/images/home-hero-tablet.jpg') no-repeat
      center/cover;
    padding-block: 150px;
    position: relative;
  }

  .hero::after {
    right: -48px;
    bottom: 40px;
  }

  .header--home__content {
    text-align: center;
    max-width: 100%;
    width: 600px;
    margin: auto;
  }

  .header--home__content::before {
    content: '';
  }

  .header--home__content::after {
    left: -225%;
    bottom: -120px;
  }

  .header--home__content h1 {
    color: #fff;
    margin-bottom: 40px;
  }

  .header--home__content p {
    color: #fff;
    margin-left: 57px;
    margin-bottom: 40px;
  }

  .header--home__content .header--home__btn {
    margin-left: 57px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    background: url('../assets/images/home-hero-mobile.jpg') no-repeat
      center/cover;
    padding-block: 150px;
    position: relative;
  }

  .hero::after {
    display: none;
  }

  .header--home__content {
    text-align: center;
    max-width: 100%;
    width: 600px;
    margin: auto;
  }

  .header--home__content::before {
    content: '';
  }

  .header--home__content::after {
    left: -250%;
    bottom: -120px;
  }

  .header--home__content h1 {
    font-size: 40px;
    line-height: 40px;
  }

  .header--home__content p {
    margin-left: 0;
  }

  .header--home__content .header--home__btn {
    margin-left: 0;
  }
}
 /* Steps */
  
 .steps .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 30px;
}

.steps .step__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  max-width: 57.3rem;
  text-align: left;
  position: relative;
}

.steps .step__card::before {
  content: '';
  display: block;
  width: 1000px;
  background-color: #e5ecf4;
  position: absolute;
  top: 40px;
  left: -950px;
  height: 10px;
  z-index: -1;
}

.steps .step__card h4 {
  margin: 40px 0 27px 0;
}

@media screen and (max-width: 1024px) {
  .steps .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }

  .steps .step__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 60px;
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    position: relative;
  }

  .steps .step__card::before {
    content: '';
    width: 14px;
    height: 220px;
    background-color: #e5ecf4;
    top: -140px;
    left: 40px;
    z-index: -1;
  }

  .steps .step__card h4 {
    margin: 40px 0 27px 0;
  }
}

@media screen and (max-width: 768px) {
  .steps .step__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .steps .step__card::before {
    content: '';
    display: none;
  }
}

/* Info */

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  gap: 220px;
  padding: 200px 0 160px 0;
}

.position-container {
  position: relative;
}

.info::before {
  content: url('../assets/patterns/left-downward-arrow.svg');
  position: absolute;
}

.arrow-pos-2::before {
  content: url('../assets/patterns/right-arrow.svg');
  position: absolute;
  top: 200px;
  left: 0;
}

.arrow-pos-2::after {
  content: url('../assets/patterns/circle.svg');
  position: absolute;
  left: -40rem;
}

.info::after {
  content: url('../assets/patterns/circle.svg');
  position: absolute;
  top: 200px;
  z-index: -1;
  right: -400px;
}

.arrow-pos-1::before {
  right: 0;
  top: 450px;
}

.arrow-pos-3::before {
  right: -290px;
  top: 300px;
}

.info img {
  width: 100%;
  height: 450px;
  border-radius: 50%;
}

.info__content p {
  margin: 24px 0 40px 0;
}

.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 1024px) {
  .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    gap: 50px;
  }

  .info img {
    width: 450px;
  }

  .info__content {
    max-width: 500px;
  }
}

@media screen and (max-width: 768px) {
  .info {
    overflow: hidden;
  }
  .info::after {
    display: none;
  }

  .info img {
    width: 300px;
    height: 300px;
  }

  .arrow-pos-1::before {
    right: -400px;
    top: 370px;
  }

  .info h2 {
    font-size: 32px;
    line-height: 32px;
  }

  .info__content p {
    margin: 24px auto;
  }

  .info p {
    text-align: center;
    max-width: 300px;
  }

  .arrow-pos-2::before {
    top: 200px;
    left: -200px;
  }

  .arrow-pos-3::before {
    right: -500px;
    top: 200px;
  }
}


/* CTA section */

.cta {
  background: url('../assets/patterns/semi-circles.svg') no-repeat;
  background-position: 130% 100%;
  background-color: var(--dark-navy);
  padding-bottom: 102px;
}

.cta .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cta .cta__title {
  -ms-flex-preferred-size: 450px;
      flex-basis: 450px;
}

.cta__title h2 {
  color: #fff;
}

.cta .cta__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
}

@media screen and (max-width: 1024px) {
  .cta {
    background-position: 90% 100%;
    padding-bottom: 102px;
  }

  .cta .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .cta .cta__title {
    -ms-flex-preferred-size: 100px;
        flex-basis: 100px;
    width: 450px;
    text-align: center;
    margin-bottom: 40px;
  }

  .cta__title h2 {
    color: #fff;
  }

  .cta .cta__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 18px;
  }
}

@media screen and (max-width: 768px) {
  .cta .cta__title {
    width: 300px;
  }

  .cta .cta__title h2 {
    font-size: 32px;
    line-height: 32px;
  }
}

  /* footer */
  
  .footer {
    background-color: #333a44;
    padding: 64px 0 88px 0;
  }
  
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 40px;
  }
  
  .footer__list {
    text-align: center;
    margin-bottom: 85px;
  }
  
  .footer__list li {
    margin-bottom: 16px;
  }
  
  .footer__list li a {
    font-size: 15px;
    -webkit-transition: color 0.25s ease-out;
    -o-transition: color 0.25s ease-out;
    transition: color 0.25s ease-out;
  }
  
  .footer__list li a:hover {
    color: var(--yellow);
  }
  
  .footer__links .social__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 24px;
  }
  
  .footer {
    padding: 35px 0 32px 0;
  }
  
  
  
  .footer__links {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    text-align: left;
    margin-bottom: 0;
    margin-left: 40px;
  }
  
  .footer__list li {
    margin-bottom: 0;
  }
  
  .social__icons {
    cursor: pointer;
    margin-left: auto;
  }
  
  @media screen and (max-width: 768px) {
    .footer__links {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-top: 64px;
    }
  
    .footer__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-left: 0;
    }
  
    .social__icons {
      margin-left: 0;
      margin-block: 85px;
    }
  }
  
