@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400&family=Space+Mono:wght@400;700&display=swap');

:root {
  --yellow: #fcb72b;
  --dark-navy: #495567;
  --dim-grey: #939caa;
  --light-grey: #e5ecf4;
  --snow: #f2f5f9;
  --light-yellow: #fff4df;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend Deca', sans-serif;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


h1,
h2,
h3,
h4 {
  font-family: 'Space Mono', monospace;
  color: var(--dark-navy);
}

h1 {
  font-size: 5.6rem;
  line-height: 5.6rem;
  letter-spacing: -2.5px;
}

h2 {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: -2.14px;
}

h3 {
  font-size: 4rem;
  line-height: 4.8rem;
  letter-spacing: -1.79px;
}

h4 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -1.07px;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: var(--dim-grey);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dim-grey);
}

section {
  padding-top: 12rem;
}

img {
  max-width: 100%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding-inline: 2rem;
}

.btn {
  display: inline-block;
  font-family: 'Space Mono', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.5rem;
  text-align: center;
  background-color: var(--yellow);
  color: #fff;
  border: 1px solid transparent;
  padding: 1rem 4rem;
  text-decoration: none;
  transition: all 0.25s ease-in-out;

  cursor: pointer;
}

.btn:hover {
  border-color: var(--yellow);
  background-color: transparent;
  color: var(--yellow);
}

.btn-outline {
  background-color: transparent;
  border-color: var(--yellow);
  color: var(--yellow);
}

.btn-outline:hover {
  background-color: var(--yellow);
  color: #fff;
}

.link {
  color: #929baa;
  display: inline-block;
  font-family: 'Space Mono', monospace;
  font-size: 1.5rem;
  padding: 0.5rem;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.link:hover,
.link:active,
.link:focus {
  color: #fcb72c;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(0, 0, 0, 0);
  border: 0;
}


/* Navmenu */



.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding-block: 7.5rem;
  position: relative;
}

.nav__logo {
  background: url('../assets/logo.svg') no-repeat center/contain;
  display: inline-block;
  width: 7.5rem;
  height: 2rem;
  margin: 0 auto;
}

.nav__links--active {
  visibility: visible;
  opacity: 1;
  left: 0;
}

.nav__hamburger {
  background: url('../assets/icons/hamburger.svg') no-repeat center/cover;
  width: 2rem;
  height: 1.6rem;
  display: inline-block;
  border: none;
  cursor: pointer;
}

.nav__hamburger:focus {
  outline: 3px dashed var(--yellow);
}

.nav__hamburger--active {
  background: url('../assets/icons/close.svg') no-repeat center/cover;
}

.nav__links {
  display: none;
}

.nav__btn {
  display: none;
}

@media screen and (min-width: 768px) {
  .nav__hamburger {
    display: none;
  }

  .nav__logo {
    width: 10rem;
    height: 3rem;
    margin: 0;
  }

  .nav__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 4rem;
  }

  .nav__links li:not(:last-child) {
    margin-right: 2rem;
  }

  .nav__btn {
    display: inline-block;
    margin-left: auto;
  }

  .nav__links--mobile {
    display: none;
  }
}


/* Hero */

.hero {
  background: url('../assets/images/home-hero-desktop.jpg') no-repeat
    center/cover;
  padding-block: 15rem;
  position: relative;
}

.hero::after {
  content: url('../assets/patterns/white-circles.svg');
  position: absolute;
  right: -4.8rem;
  bottom: 16.4rem;
}

.header--home__content {
  text-align: left;
  max-width: 50rem;
  margin-left: 0;
  position: relative;
}

.header--home__content::before {
  content: url('../assets/patterns/line.svg');
  position: absolute;
  right: 114%;
  bottom: 13.5rem;
}

.header--home__content::after {
  content: url('../assets/patterns/right-arrow.svg');
  position: absolute;
  right: -100%;
  bottom: 0;
}

.header--home__content h1 {
  color: #fff;
  margin-bottom: 4rem;
}

.header--home__content p {
  color: #fff;
  margin-left: 5.7rem;
  margin-bottom: 4rem;
}

.header--home__content .header--home__btn {
  margin-left: 5.7rem;
}

@media screen and (max-width: 1024px) {
  .hero {
    background: url('../assets/images/home-hero-tablet.jpg') no-repeat
      center/cover;
    padding-block: 15rem;
    position: relative;
  }

  .hero::after {
    right: -4.8rem;
    bottom: 4rem;
  }

  .header--home__content {
    text-align: center;
    max-width: 100%;
    width: 60rem;
    margin: auto;
  }

  .header--home__content::before {
    content: '';
  }

  .header--home__content::after {
    left: -225%;
    bottom: -12rem;
  }

  .header--home__content h1 {
    color: #fff;
    margin-bottom: 4rem;
  }

  .header--home__content p {
    color: #fff;
    margin-left: 5.7rem;
    margin-bottom: 4rem;
  }

  .header--home__content .header--home__btn {
    margin-left: 5.7rem;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    background: url('../assets/images/home-hero-mobile.jpg') no-repeat
      center/cover;
    padding-block: 15rem;
    position: relative;
  }

  .hero::after {
    display: none;
  }

  .header--home__content {
    text-align: center;
    max-width: 100%;
    width: 60rem;
    margin: auto;
  }

  .header--home__content::before {
    content: '';
  }

  .header--home__content::after {
    left: -250%;
    bottom: -12rem;
  }

  .header--home__content h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .header--home__content p {
    margin-left: 0;
  }

  .header--home__content .header--home__btn {
    margin-left: 0;
  }
}
 /* Steps */
  
 .steps .container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 3rem;
}

.steps .step__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  max-width: 57.3rem;
  text-align: left;
  position: relative;
}

.steps .step__card::before {
  content: '';
  display: block;
  width: 100rem;
  background-color: #e5ecf4;
  position: absolute;
  top: 4rem;
  left: -95rem;
  height: 1rem;
  z-index: -1;
}

.steps .step__card h4 {
  margin: 4rem 0 2.7rem 0;
}

@media screen and (max-width: 1024px) {
  .steps .container {
    flex-direction: column;
    gap: 3rem;
  }

  .steps .step__card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 6rem;
    max-width: 100%;
    align-items: center;
    text-align: left;
    position: relative;
  }

  .steps .step__card::before {
    content: '';
    width: 1.4rem;
    height: 22rem;
    background-color: #e5ecf4;
    top: -14rem;
    left: 4rem;
    z-index: -1;
  }

  .steps .step__card h4 {
    margin: 4rem 0 2.7rem 0;
  }
}

@media screen and (max-width: 768px) {
  .steps .step__card {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .steps .step__card::before {
    content: '';
    display: none;
  }
}

/* Info */

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  gap: 22rem;
  padding: 20rem 0 16rem 0;
}

.position-container {
  position: relative;
}

.info::before {
  content: url('../assets/patterns/left-downward-arrow.svg');
  position: absolute;
}

.arrow-pos-2::before {
  content: url('../assets/patterns/right-arrow.svg');
  position: absolute;
  top: 20rem;
  left: 0;
}

.arrow-pos-2::after {
  content: url('../assets/patterns/circle.svg');
  position: absolute;
  left: -40rem;
}

.info::after {
  content: url('../assets/patterns/circle.svg');
  position: absolute;
  top: 20rem;
  z-index: -1;
  right: -40rem;
}

.arrow-pos-1::before {
  right: 0rem;
  top: 45rem;
}

.arrow-pos-3::before {
  right: -29rem;
  top: 30rem;
}

.info img {
  width: 100%;
  height: 45rem;
  border-radius: 50%;
}

.info__content p {
  margin: 2.4rem 0 4rem 0;
}

.reverse {
  flex-direction: row-reverse;
}

@media screen and (max-width: 1024px) {
  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
  }

  .info img {
    width: 45rem;
  }

  .info__content {
    max-width: 50rem;
  }
}

@media screen and (max-width: 768px) {
  .info {
    overflow: hidden;
  }
  .info::after {
    display: none;
  }

  .info img {
    width: 30rem;
    height: 30rem;
  }

  .arrow-pos-1::before {
    right: -40rem;
    top: 37rem;
  }

  .info h2 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }

  .info__content p {
    margin: 2.4rem auto;
  }

  .info p {
    text-align: center;
    max-width: 30rem;
  }

  .arrow-pos-2::before {
    top: 20rem;
    left: -20rem;
  }

  .arrow-pos-3::before {
    right: -50rem;
    top: 20rem;
  }
}


/* CTA section */

.cta {
  background: url('../assets/patterns/semi-circles.svg') no-repeat;
  background-position: 130% 100%;
  background-color: var(--dark-navy);
  padding-bottom: 10.2rem;
}

.cta .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cta .cta__title {
  flex-basis: 45rem;
}

.cta__title h2 {
  color: #fff;
}

.cta .cta__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.8rem;
}

@media screen and (max-width: 1024px) {
  .cta {
    background-position: 90% 100%;
    padding-bottom: 10.2rem;
  }

  .cta .container {
    flex-direction: column;
  }

  .cta .cta__title {
    flex-basis: 10rem;
    width: 45rem;
    text-align: center;
    margin-bottom: 4rem;
  }

  .cta__title h2 {
    color: #fff;
  }

  .cta .cta__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .cta .cta__title {
    width: 30rem;
  }

  .cta .cta__title h2 {
    font-size: 3.2rem;
    line-height: 3.2rem;
  }
}

  /* footer */
  
  .footer {
    background-color: #333a44;
    padding: 6.4rem 0 8.8rem 0;
  }
  
  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  
  .footer__list {
    text-align: center;
    margin-bottom: 8.5rem;
  }
  
  .footer__list li {
    margin-bottom: 1.6rem;
  }
  
  .footer__list li a {
    font-size: 1.5rem;
    transition: color 0.25s ease-out;
  }
  
  .footer__list li a:hover {
    color: var(--yellow);
  }
  
  .footer__links .social__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
  }
  
  .footer {
    padding: 3.5rem 0 3.2rem 0;
  }
  
  
  
  .footer__links {
    flex-direction: row;
    justify-content: flex-start;
  }
  
  .footer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    text-align: left;
    margin-bottom: 0;
    margin-left: 4rem;
  }
  
  .footer__list li {
    margin-bottom: 0;
  }
  
  .social__icons {
    cursor: pointer;
    margin-left: auto;
  }
  
  @media screen and (max-width: 768px) {
    .footer__links {
      flex-direction: column;
      margin-top: 6.4rem;
    }
  
    .footer__list {
      flex-direction: column;
      margin-left: 0;
    }
  
    .social__icons {
      margin-left: 0;
      margin-block: 8.5rem;
    }
  }
  

